@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"); 

body {
    /* background-image: url('./assets/images/chess-bg.svg') !important; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}